@using SatisProject.Web.Code;
@using SatisProject.Web.Models;

<nav class="navbar text-light mb-3 bg-white shadow" style="border-radius: 15px !important;">
    <div class="container-fluid justify-content-between">
        <h2>
            <a class="navbar-brand fs-4" style="color:#858796;">Kullanıcı Raporları</a>
           @*  <button type="submit" class="btn btn-warning mr-3" title="PDF Oluştur" id="pdfOlustur" onclick="PDF()">
                <i class="bi bi-receipt text-black"></i>
            </button> *@
        </h2>
        <form class="d-flex" role="search">
            <label class="form-label text-black mt-2" for="kullanici" style="width:120px;">Kullanıcı Seçiniz :</label>
            <input type="text" class="d-none" value="@Repo.Session.CompanyId" id="kullaniciSirketIdGetir" />
            @*            <select class="form-select" id="kullaniciYonetim" style="width:190px;">
            <option class="" value="@Repo.Session.Id" selected>Şirketim</option>
            </select>*@
            <select class="form-select" id="kullaniciAdmin" style="width:190px;" data-selected-value="">
                <option class="d-none" value="" selected></option>
                <option class="d-none" value="@Repo.Session.Id"></option>
            </select>
        </form>
    </div>
</nav>

<div id="divKullanici" style="overflow-x: auto;">
</div>

<script src="~/js/raporlar/kullanicirapor.js" asp-append-version="true"></script>