@using SatisProject.Web.Code;
@using SatisProject.Web.Models;

<nav class="navbar text-light mb-3 bg-white shadow" style="border-radius: 15px !important;">
    <div class="container-fluid justify-content-between">
        <h2><a class="navbar-brand fs-4" style="color:#858796;">Tedarikci Raporları</a></h2>
        <form class="d-flex" role="search">
            <label class="form-label text-black mt-2" for="tedarikci" style="width:130px;">Tedarikci Seçiniz :</label>
            <select class="form-select" id="tedarikci" style="width:190px;">
                <option class="d-none" value="1" selected></option>
            </select>
        </form>
    </div>
</nav>

<div id="divTedarikci" style="overflow-x: auto;">
</div>

<script src="~/js/raporlar/tedarikcirapor.js" asp-append-version="true"></script>
