html {
  font-size: 14px;
}

.position-div {
    position: relative !important;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-div {
    background-color: #BABABA4A;
    opacity: 0.6;
    border-radius: 30px;
    position: relative !important;
    width: 100%;
    padding: 0px 20px 0px 20px;
}

#loginImg {
    position: absolute !important;
    border-radius: 100% !important;
    user-select: none;
}

#particles-js {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: url("");
    background-size: cover;
    background-size: cover;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

#content-wrapper #content {
    background-color: #edeaea !important;
}

body {
    margin-bottom: 60px;
    background-color: #edeaea !important;
}

.stickyDiv {
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#modalNav {
    background-color: white !important;
    color: black !important;
}

.input-group-append button {
    background-color: #edeaea !important;
    color: black !important;
    border: none;
}

.custom-alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

html::-webkit-scrollbar {
    width: 0.8rem !important;
    background-color: white !important;
}

html::-webkit-scrollbar-thumb {
    background-color: #9e9494;
    border-radius: 3rem !important;
}

html::-webkit-scrollbar-track {
    background-color: transparent !important;
}

.navbar-nav .no-arrow .toggle {
    width: 44px;
    height: 23px;
    background-color: black !important;
    border-radius: 30px;
    position: relative;
}

    .navbar-nav .no-arrow .toggle i {
        color: goldenrod;
        margin: 3px;
    }

    .navbar-nav .no-arrow .toggle .toggle-ball {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        right: 1px;
        cursor: pointer;
        transition: all ease-in-out 0.5s;
    }


        .navbar-nav .no-arrow .toggle .toggle-ball.active {
            background-color: white;
            transform: translateX(-24px);
        }

#divFatura .accordion-body span button {
    background-color: #9e9494 !important;
    color: white !important;
    border:none !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 770px) {
    body #accordionSidebar {
        display: none !important;
    }
   
}

