@{
    ViewData["Title"] = "Error 404";
}

<style>

</style>

<div class="col-md-12 col-lg-12 position-div">
    <div class="text-center error-div">
        <img src="~/Img/error404.gif" />
        <h3 style="font-size:150px;color:white;font-weight:bold;">404</h3>
        <h4 style="font-size:50px;color:white;font-weight:bold;">UPS! Bir şeyler Ters Gitti...</h4>
        <a class="btn btn-light m-3" style="opacity:1;" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
    </div>
</div>
