@using SatisProject.Web.Code;
@{
    ViewData["Title"] = "XYZ Holding";
}   
    <a asp-area="" asp-controller="Account" asp-action="Login" class="position-div">
        <img src="~/img/v.gif" width="350" height="350" id="loginImg" />
    </a>

