@using SatisProject.Web.Code;
<nav class="navbar text-light mb-3 bg-white shadow" style="border-radius: 15px !important;">
    <div class="container-fluid">
        <h2><a class="navbar-brand fs-4" style="color:#858796;">Depodaki Ürünler</a></h2>
        
    </div>
</nav>

<div id="divDepo" style="overflow-x: auto;">
</div>

<script src="~/js/stokurun/stokSatinAlma.js" asp-append-version="true"></script>
