<nav class="navbar text-light mb-3 bg-white shadow" style="border-radius: 15px !important;">
    <div class="container-fluid">
        <h2><a class="navbar-brand fs-4" style="color:#858796;"> Ürünler</a></h2>
        <form class="d-flex" role="search">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" onclick="Yeni()">
                Yeni Urun Ekle
            </button>
        </form>
    </div>
</nav>

<div id="divUrunler">
</div>


<div class="modal fade" id="modalFoto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Urun Bilgileri</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input type="text" id="productId" class="form-control d-none">

                <label for="urunFoto" class="form-label">Ürün Fotoğrafı Seçiniz :</label>
                <input type="file"
                       class="form-control"
                       id="urunFoto" accept="UrunFoto/*" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary" onclick="KaydetFoto()">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Urun Bilgileri</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <label for="inputRolAd" class="form-label">Ürün Adı</label>
                <input type="text" id="inputAd" class="form-control" placeholder="Ürün Adı...">

                <label for="inputRolAd" class="form-label">Ürün Açıklaması</label>
                <input type="text" id="inputAciklama" class="form-control">

                <label class="form-label" for="birimAd">Birim Seçiniz :</label>
                <select class="form-select" id="inputBirimAd">
                </select>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary" onclick="Kaydet()">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Urun Bilgileri</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input type="text" id="idG" class="form-control d-none">

                <label for="inputRolAd" class="form-label">Ürün Adı</label>
                <input type="text" id="adG" class="form-control">

                <label for="inputRolAd" class="form-label">Ürün Açıklaması</label>
                <input type="text" id="aciklamaG" class="form-control">

                <label class="form-label" for="inputBirimAd">Birim Seçiniz :</label>
                <select class="form-select" id="inputBirimAdG">
                </select>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary" onclick="Guncelle()">Guncelle</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/stokUrun/urun.js" asp-append-version="true"></script>

