@using SatisProject.Web.Code;
<link href="~/css/admin/table.css" rel="stylesheet" />
<input type="hidden"
       class="form-control d-none"
       id="girisBirimId"
       value="@Repo.Session.DepartmentId" />

    <input type="hidden"
           class="form-control d-none"
           id="kullaniciId"
           value="@Repo.Session.Id" />


<nav class="navbar text-light mb-3 bg-white shadow" style="border-radius: 15px !important;">
    <div class="container-fluid">
        <h2><a class="navbar-brand fs-4" style="color:#858796;">Taleplerim</a></h2>
        <form class="d-flex" role="search">
            <button type="button" class="btn text-light" style="background-color:#9e9494;" data-bs-toggle="modal" onclick="Yeni()">
                Talep Oluştur
            </button>
        </form>
    </div>
</nav>


<div id="divTalepKullanici" style="overflow: auto;">
</div>

<div class="modal fade"
     id="staticBackdrop"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Talep Bilgileri</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3 needs-validation" id="kullaniciEkleForm" novalidate>
                    <div class="form-group col-md-6">
                        <label class="form-label" for="urunAd">Ürün Seçiniz :</label>
                        <select class="form-select" id="urunAd">
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="adet" class="form-label">Adet Giriniz  :</label>
                        <input type="number"
                               class="form-control"
                               id="adet"
                               required />
                        <div class="invalid-feedback">Bu alan boş geçilemez.</div>
                    </div>
                    <div class="col-md-12">
                        <label for="adet" class="form-label">Detayları Giriniz  :</label>
                        <input type="text"
                               class="form-control"
                               id="aciklama"
                               required />
                        <div class="invalid-feedback">Bu alan boş geçilemez.</div>
                    </div>

                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Vazgeç
                    </button>
                    <button class="btn btn-primary" type="submit" onclick="Kaydet()">Kaydet</button>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>



<div class="modal fade"
     id="staticBackdrop1"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Talep Bilgileri</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3 needs-validation" id="kullaniciEkleForm" novalidate>
                    <div class="form-group col-md-6">
                        <input type="text"
                               class="form-control d-none"
                               id="idG"
                                />
                        <label class="form-label" for="urunAd">Ürün Seçiniz :</label>
                        <select class="form-select" id="urunAdG">
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="adet" class="form-label">Adet Giriniz  :</label>
                        <input type="number"
                               class="form-control"
                               id="adetG"
                               required />
                        <div class="invalid-feedback">Bu alan boş geçilemez.</div>
                    </div>
                    <div class="col-md-12">
                        <label for="adet" class="form-label">Detayları Giriniz  :</label>
                        <input type="text"
                               class="form-control"
                               id="aciklamaG"
                               required />
                        <div class="invalid-feedback">Bu alan boş geçilemez.</div>
                    </div>

                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Vazgeç
                    </button>
                    <button class="btn btn-primary" type="submit" onclick="Guncelle()">Kaydet</button>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>


<script>
    (() => {
        "use strict";

        const forms = document.querySelectorAll(".needs-validation");
        Array.from(forms).forEach((form) => {
            form.addEventListener(
                "submit",
                (event) => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add("was-validated");
                },
                false
            );
        });
    })();
</script>
<script src="~/js/satis/talepolustur.js" asp-append-version="true"></script>