<nav class="navbar text-light mb-3 bg-white shadow" style="border-radius: 15px !important;">
    <div class="container-fluid">
        <h2><a class="navbar-brand fs-4" style="color:#858796;">Şirketlere Bağlı Birimler</a></h2>
        <form class="d-flex" role="search">
            <button type="button" class="btn text-light" style="background-color:#9e9494;" data-bs-toggle="modal" onclick="Yeni()">
                Yeni Birim Ekle
            </button>
        </form>
    </div>
</nav>

<div id="divSirketBirimleri" style="overflow-x: auto;">
</div>

<div class="modal fade"
     id="staticBackdrop"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Şirket-Birim Bilgileri</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row g-3 needs-validation" id="sirketBirimEkle" novalidate>
                    <div class="form-group col-md-6">
                        <label class="form-label" for="sirketAd">Şirket Seçiniz :</label>
                        <select class="form-select" id="sirketAd">
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label" for="birimAd">Birim Seçiniz :</label>
                        <select class="form-select" id="birimAd">
                        </select>
                    </div>
                    

                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Vazgeç
                    </button>
                    <button class="btn btn-primary" type="submit" onclick="Kaydet()">Kaydet</button>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<script src="~/js/admin/birimsirket.js" asp-append-version="true"></script>
