@using SatisProject.Web.Code;


<div class="bg-white text-black text-center" style="border-radius:15px;">
    <img src="~/img/v.gif" width="650" height="450" style="height:100vh;align-items:center;justify-content:center" />
</div>

@Repo.Session.DepartmentId
@Repo.Session.CompanyId
@Repo.Session.RolId