@using SatisProject.Web.Code;


<div class="bg-white text-black text-center" id="index"
style=" border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;">
    <img src="~/img/v.gif" width="450" height="450" class="rounded-circle" />
</div>